* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
  }

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #3941b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #b2bfc0;
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #1a79a562;
    margin: 0;
    display: inline;
  }
  
  header a {
    text-decoration: none;
    color: #1a79a562;
  }
  header nav {
    float: right;
    margin: 7px 0;
  }
  header nav ul li {
    display: inline;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  footer p {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  footer a {
    color: #024e76;
  }



  .intro {
    text-align: center;
  }

  .intro h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #fce138;
  }

   h2  {
    background-color: #1a79a562;
    padding: 20px;
    width: 500px;
    color: #024e76;
    border-style: solid;
  border-width: 3px;
  border-color: #024e76;
  border: solid 3px #024e76;
  position: absolute;
  bottom: 120px;
  right: 140px;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  font-size: 24px;

  }




  h3 {

    background-color: #1a79a562;
    padding: 20px;
    width: 500px;
    color: #024e76;
    border-style: solid;
  border-width: 3px;
  border-color: #024e76;
  border: solid 3px #024e76;
  position: absolute;
  bottom: 120px;
  left: 0px;
  margin: 7px 0;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;




  }

  h4 {
    background-color: #1a79a562;
    padding: 20px;
    width: 500px;
    color: #024e76;
    border-style: solid;
  border-width: 3px;
  border-color: #024e76;
  border: solid 3px #024e76;
  position: absolute;
  bottom: 120px; 
  right: 800px;
  font-size: 24px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  


  }

  /* ================ Navigation Menu ====================*/


